.myDialog{
    -fx-background-color: #f9d900;
    -fx-border-color: black;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #a9e200;
}
.myDialog > *.label.content{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #a59c31;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}